@import "~knacss/sass/knacss.scss";

@font-face {
    font-family: "lato";
    src: url("/build/fonts/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Hairline';
    font-style: normal;
    font-weight: normal;
    src: local('Lato Hairline'), url('/build/fonts/Lato-Hairline.woff') format('woff');
}

@font-face {
    font-family: 'Lato Light';
    font-style: normal;
    font-weight: normal;
    src: local('Lato Light'), url('/build/fonts/Lato-Light.woff') format('woff');
}

@font-face {
    font-family: "ubuntu";
    src: url("/build/fonts/ubuntu-light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*************VARIABLES*******************************/
$bleu: #090821;
$red: #d5515b;
$gris: #414141;
$white: rgb(175, 175, 175);

/*************GENERALS********************************/
* {
    margin: 0;
    padding: 0;
    font-family: 'lato', 'Lato Light', 'Lato Hairline', 'ubuntu';

}

a {
    text-decoration: none;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

/********************* HEADER ************************/
.site-header {
    padding: 100px 0;
    margin-bottom: -30px;

    .site-title {
        text-align: center;
        text-transform: uppercase;
        font-size: 48px;
        font-weight: 900;
        margin: 0;

        a {
            // font-weight: bold;
            color: $gris;
            font-size: 48px;
            text-decoration: none;
        }
    }

    .site-subtitle {
        font-family: 'Lato Light', 'Lato Hairline', 'ubuntu';
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        color: #999;
    }

    .site-navigation {
        text-align: center;
        text-transform: uppercase;
        margin-top: 30px;
        font-size: 18px;
        letter-spacing: 2px;

        ul {
            display: inline-block;
            padding: 0;
            margin-bottom: 10px;

            li {
                display: inline-block;
                text-decoration: none;

                .active1 {

                    a {
                        padding: 10px 20px;
                        border-top: 3px solid $red;
                        border-bottom: 3px solid $red;
                        color: $red;
                    }
                }

                .active2 {
                    a {
                        padding: 10px 20px;
                        border-top: 3px solid $red;
                        border-bottom: 3px solid $red;
                        color: $red;
                    }
                }
            }
        }
    }
}

/********************* FOOTER ************************/

.fixed-footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: -1;
}

.site-prefooter {
    background-color: rgba($bleu, .8);
    padding: 30px 0;

    .footer-icons {
        font-size: 18px;

        a {
            border-radius: 50%;
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            background-color: rgba(255, 255, 255, .7);
            color: $bleu;
        }
        a:hover{
            background-color: #fff;
        }
    }

    .list-inline {
        margin-left: -38px;

        li {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

.site-footer {
    background-color: $bleu;
    padding: 80px 0;
    color: #d2d2d2;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;

    .copyright {
        font-size: 11px;
    }
}