@import "~knacss/sass/knacss.scss";

@font-face {
    font-family: "lato";
    src: url("/build/fonts/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Hairline';
    font-style: normal;
    font-weight: normal;
    src: local('Lato Hairline'), url('/build/fonts/Lato-Hairline.woff') format('woff');
}

@font-face {
    font-family: 'Lato Light';
    font-style: normal;
    font-weight: normal;
    src: local('Lato Light'), url('/build/fonts/Lato-Light.woff') format('woff');
}

@font-face {
    font-family: "ubuntu";
    src: url("/build/fonts/ubuntu-light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*************VARIABLES***************/
$bleu: #090821;

/*************GENERALS****************/
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato Light', 'Lato Hairline';
}

h2 {
    font-family: 'Lato Light', 'Lato Hairline';
    margin-top: 20px;
    margin-bottom: 10px;
}

body {
    font-family: 'Lato Light', 'Lato Hairline';
    font-size: 14px;
    line-height: 1.42;
    color: $bleu;
    background-color: #fff;

    .home-header-background {
        background-image: url('/build/img/clavier.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        // position: relative;
        // z-index: 1;
        overflow: hidden;
        height: 100vh;

        &::before {
            content: '';
            position: absolute;
            // z-index: -1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(31, 31, 31, .8);
        }

        .home-header {
            height: 100vh;
            width: 100%;
            // background-color: rgba(31, 31, 31, .8);
            color: #fff;
            position: absolute;            
            // max-width: 768px;            
            // padding: 15px;
            text-align: center;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            .home-header-inner {
                padding-top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                text-align: center;

                .autogrid {
                    width: 970px;

                    .autogrid::before {
                        content: "";
                        display: table;
                    }

                    .home-header-border {
                        border: 1px solid #fff;
                        padding: 30px;

                        .home-header-subhead {
                            font-style: italic;
                            font-size: 22px;

                            p {
                                line-height: 1.9em;
                                font-weight: 300;
                                letter-spacing: 1px;
                                margin: 0 0 10px;
                            }
                        }

                        .home-header-title {
                            font-family: 'Lato', 'Lato Light';
                            font-weight: 900;
                            letter-spacing: 2px;
                            margin: 0;
                            text-transform: uppercase;
                            font-size: 80px;
                        }

                        .home-header-subtitle {
                            font-size: 34px;
                            font-weight: 300;
                        }
                    }

                    .autogrid::after {
                        clear: both;
                    }
                }

            }
        }
    }
}