{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block title %}Contact {% endblock %}

{% block content %}
<!-- CONTACT SECTION -->
    <section class="contact" id="contact">
            <div class="contacts_wrapper">
            <div class="contact_header">
                {# <h2>CONTACT</h2>
                <p>Get in touch</p> #}
                <form>
                        <div class="grid-3">
                          <input type="text" placeholder="Name">
                        </div>
                        <div class="grid-3">
                          <input type="email"  placeholder="Email">
                        </div>
                        <div class="grid-3">
                           <input type="text"  placeholder="Phone">
                        </div>
                        <div class="grid-3">
                            <textarea  rows="5"  placeholder="Message"></textarea>
                        </div>
                        <input type="submit" class="send" value="SEND MESSAGE">
                </form>
            </div>
        </div>
    </section>
{% endblock %}


{% block scripts %}
    {{ encore_entry_script_tags('contactjs') }}
{% endblock %}
