<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta
        content="ie=edge" http-equiv="X-UA-Compatible">

        <!-- META description -->
        <meta content="" name="description">
        <meta content="Priscilla" name="author">
        <meta
        content="" name="keywords">

        <!-- META Twitter -->
        <meta content="Twitter" name="twitter:title">
        <meta content="compte twitter" name="twitter:description">
        <meta content="https://twitter.com/" name="twitter:url">
        <meta
        content="" name="twitter:image:src">

        <!-- META FACEBOOK -->
        <meta content="Facebook" property="og:Facebook">
        <meta content="page Facebook" property="og:type">
        <meta content="https://www.facebook.com/" property="og:url">
        <meta
        content="" property="og:image">

        <!-- META INSTAGRAM -->
        <meta content="Instagram" property="og:Instagram">
        <meta content="compte Instagram" property="og:type">
        <meta content="https://www.instagram.com/" property="og:url">
        <meta
        content="" property="og:image">

        <!--LIEN VERS CSS et FONTAWESOME-->
        {% block stylesheets %}{% endblock %}
        <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet">
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">

        {{ encore_entry_link_tags('base') }}


        <!-- FAVICON -->
        <link href="" rel="icon" type="image/png"/>

        <title>
            {% block title %}{% endblock %}| Priscilla ROY, Développeuse Web Full-stack
        </title>


    </head>

    <body>
        {% block header %}
            <header class="site-header">
                <div class="flex-container--column">
                    <h1 class="site-title">
                        <a href="/">Priscilla Roy</a>
                    </h1>
                    <h2 class="site-subtitle">Développeuse Web Full-stack</h2>
                    <nav class="site-navigation">
                        <ul class="unstyled">
                            <li class="">
                                <a href="/">Portfolio</a>
                            </li>
                            <li class="is-active">
                                <a href="/cv">CV</a>
                            </li>
                            <li class="">
                                <a href="/contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
        {% endblock %}

        {% block content %}{% endblock %}

        <!-- FOOTER -->
        <div class="fixed-footer">
            <div class="site-prefooter">
                <div class="autogrid center">
                    <ul class="footer-icons list-inline txtcenter">
                        <li>
                            <a href="https://www.linkedin.com/in/priscilla-roy-860ba5182/"></a>
                        </li>
                        <li>
                            <a href="https://github.com/mgaaintjrae"></a>
                        </li>
                    </ul>
                </div>
            </div>

            <footer class="site-footer">
                <div class="autogrid center">
                    <p class="copyright">Copyright &copy 2019 - Tous Droits Réservés - Priscilla ROY</p>
                </div>
            </footer>
        </div>

        <!-- SCRIPTS JS -->
        {% block scripts %}{% endblock %}
        {{ encore_entry_script_tags('basejs') }}</body>
</html>
<html></html>
