<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta
        content="ie=edge" http-equiv="X-UA-Compatible">

        <!-- META description -->
        <meta content="Priscilla ROY, Développeuse Web Full-stack, intéressée par l'art, le cinéma et la musique.
        Adepte du site web bien fait, j'aime me surpasser dans mon travail. " name="description">
        <meta content="Priscilla" name="author">
        <meta content="priscilla roy, roy, symfony, symfony4, php, javascript, web, besançon, portfolio" name="keywords">
        <meta
        content="Priscilla ROY, Développeuse Web Full-stack" property="og:title"/>
        <!-- META Twitter -->
        <meta content="Twitter" name="twitter:title">
        <meta content="compte twitter" name="twitter:description">
        <meta content="https://twitter.com/" name="twitter:url">
        <meta
        content="Priscilla ROY, Développeuse Web Full-stack" name="twitter:image:src">

        <!-- META FACEBOOK -->
        <meta content="Facebook" property="og:Facebook">
        <meta content="page Facebook" property="og:type">
        <meta content="https://www.facebook.com/" property="og:url">
        <meta
        content="Priscilla ROY, Développeuse Web Full-stack" property="og:image">

        <!-- META INSTAGRAM -->
        <meta content="Instagram" property="og:Instagram">
        <meta content="compte Instagram" property="og:type">
        <meta content="https://www.instagram.com/" property="og:url">
        <meta
        content="Priscilla ROY, Développeuse Web Full-stack" property="og:image">

        <!--LIEN VERS CSS et FONTAWESOME-->
        {% block stylesheets %}{% endblock %}
        <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet">
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        {{ encore_entry_link_tags('base') }}


        <!-- FAVICON -->
        <link href="/build/img/favicon.png" rel="icon" type="image/png"/>

        <title>
            {% block title %}{% endblock %}| Priscilla ROY, Développeuse Web Full-stack
        </title>


    </head>

    <body>

        {% block header %}
            <header class="site-header">
                <div class="flex-container--column">
                    <h1 class="site-title">
                        <a href="/">Priscilla Roy</a>
                    </h1>
                    <h2 class="site-subtitle">Développeuse Web Full-stack</h2>
                    <input class="burger-check" id="burger-check" type="checkbox"><label class="burger" for="burger-check"></label>
                    <nav class="site-navigation">
                        <ul class="unstyled">
                            <li class="">
                                <span>
                                    <a href="/">Portfolio</a>
                                </span>
                            </li>
                            <li class="active_project">
                                <span>
                                    <a href="/projet">Projets</a>
                                </span>
                            </li>
                            <li class="active_cv">
                                <span>
                                    <a href="/cv">CV</a>
                                </span>
                            </li>
                            <li class="active_contact">
                                <span>
                                    <a href="/contact">Contact</a>
                                </span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
        {% endblock %}

        {% block content %}{% endblock %}


        <!-- FOOTER -->
        <div class="fixed-footer">
            <div class="site-prefooter">
                <div class=" autogrid center">
                    <ul class="footer-icons list-inline txtcenter">
                        <li>
                            <a href="https://www.linkedin.com/in/priscilla-roy-860ba5182/">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/mgaaintjrae">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <footer class="site-footer">
                <div class=" autogrid center">
                    <p class="copyright">Copyright &copy 2019 - Tous Droits Réservés - Priscilla ROY</p>
                </div>
            </footer>
        </div>


        <!-- SCRIPTS JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

        {% block scripts %}{% endblock %}
        {{ encore_entry_script_tags('basejs') }}</body>
</html>
