{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}


{% block title %}Portfolio
{% endblock %}

{% block header %}
    <div class="home-header-background parallax">
        <header class="home-header">
            <div class="home-header-inner">
                <section class="autogrid center">
                    <div class="home-header-border">
                        <p class="home-header-subhead">Bonjour, je suis</p>
                        <h1 class="home-header-title">Priscilla Roy</h1>
                        <h2 class="home-header-subtitle">Développeuse Web Full-stack</h2>
                    </div>
                </section>
            </div>
        </header>
    </div>
{% endblock %}

{% block content %}
    <main class="site-main">
        <nav class="site-navigation">
            <ul class="unstyled">
                <li class="active">
                    <a href="/">Portfolio</a>
                </li>
                <li class="">
                    <a href="/cv">CV</a>
                </li>
                <li class="">
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
        <section class="section">
            <div class="flex-container--column">
                <img alt="Priscilla Roy" class="img-circle homepage-avatar" height="799" src="/build/img/avatar-rond.png" width="760px">
                <h1 class="section-title txtcenter">Développeuse
                    <strong>agile</strong>
                </h1>
                <p class="txtcenter">Je suis développeuse depuis cette année. Formée pendant 8 mois grâce à Access Code School. Je m'intéresse beaucoup aux différentes technologies autour du développement Web. Je partage mes projets à travers ce portfolio, n'hésitez pas à jeter un coup d'oeil.</p>
                <h2 class="section-subtitle txtcenter">mais aussi...</h2>
                <p class="txtcenter">Intéressée par le graphisme, le cinéma, la musique, férue de bière allemande, je manie également la machine à coudre à mes heures perdues.</p>
            </div>
        </section>

        <section id="competences" class="section">
            <div class="flex-container--column">
                <h2 class="section-title txtcenter">Mes
                    <strong>compétences</strong>
                </h2>
                <div class="grid-4 has-gutter txtcenter main-wrapper">
                    <div>
                    <span class="fa-stack fa-4x loadeffect come-in">
                    {# <i class="fas fa-circle fa-stack-2x text-primary"></i> #}
                        <i class="fas fa-heart material-icons fa-inverse"></i>
                    </span>                        
                        <h2>Passion</h2>
                        <p>Plus qu'un métier, le développement est pour moi une passion qui me pousse à me dépasser.</p>
                    </div>
                    <div>
                        <span class="fa-stack fa-4x loadeffect come-in">
                    {# <i class="fas fa-circle fa-stack-2x text-primary"></i> #}
                        <i class="fas fa-code material-icons fa-inverse"></i>
                    </span>
                        <h2>Qualité</h2>
                        <p>Je respecte les derniers standards et les bonnes pratiques afin de produire un code de qualité.</p>
                    </div>
                    <div>
                        <span class="fa-stack fa-4x loadeffect come-in">
                    {# <i class="fas fa-circle fa-stack-2x text-primary"></i> #}
                        <i class="fas fa-heart material-icons fa-inverse"></i>
                    </span>
                        <h2>Veille</h2>
                        <p>Je me tiens au courant des dernières nouveautés techniques grâce à une veille quotidienne.</p>
                    </div>
                    <div>
                        <span class="fa-stack fa-4x loadeffect come-in">
                    {# <i class="fas fa-circle fa-stack-2x text-primary"></i> #}
                        <i class="fas fa-heart material-icons fa-inverse"></i>
                    </span>
                        <h2>Polyvalence</h2>
                        <p>Familier avec plusieurs méthodes de travail et différentes technologies, je sais m'adapter aux projets</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="flex-container--column">
                <h2 class="section-title txtcenter">Mes
                    <strong>projets</strong>
                </h2>
                <div
                    class="grid-2 has-gutter">{# PROJETS #}

                </div>
            </div>
        </section>
    </main>
{% endblock %}


{% block scripts %}
    {{ encore_entry_script_tags('homejs') }}
{% endblock %}
