{% extends "base.html.twig" %}

{% block stylesheets %}{{ encore_entry_link_tags('home') }}{% endblock %}


{% block title %}Portfolio {% endblock %}

{% block header %}{% endblock %}
{% block content %}
<h1>PRISCILLA ROY</h1>

{% endblock %}



{% block scripts %}{{ encore_entry_script_tags('homejs') }}{% endblock %}
