{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('project') }}
{% endblock %}

{% block title %}Projets
{% endblock %}

{% block content %}

<!-- PROJETS SECTION -->

{# PROJETS #}
<main class="site-main"> <div class="container center">
    <section class="projets">
        <div class="grid">
            <a class="grayscale" href="#">
                <span class="text">
                    <h1>PORTFOLIO</h1>
                </span>
                <img src="/build/img/portfolio_mockup.png">
            </a>
            <a class="grayscale" href="#">
                <span class="text">
                    <h1>BLOG</h1>
                </span>
                <img src="/build/img/vinyles_mockup.jpg">
            </a>
        </div>

        <div class="grid">
            <a class="grayscale" href="#">
                <span class="text">
                    <h1>DASHBOARD</h1>
                </span>
                <img src="/build/img/dashboard_mockup.jpg">
            </a>
            <a class="grayscale" href="#">
                <span class="text">
                    <h1>APPLICATION</h1>
                </span>
                <img src="/build/img/festi_mockup.jpg">
            </a>
        </div>

        <div class="grid">
            <a class="grayscale" href="#">
                <span class="text">
                    <h1>JEU SOKOBAN</h1>
                </span>
                <img src="/build/img/jeu_mockup.jpg">
            </a>
            <a class="grayscale" href="#">
                <span class="text">
                    <h1>SITE-VITRINE</h1>
                </span>
                <img src="/build/img/bluesy_mockup.jpg">
            </a>
        </div>

        <div class="grid">
            <a class="grayscale" href="#">
                <span class="text">
                    <h1>SITE-VITRINE</h1>
                </span>
                <img src="/build/img/restaurant_mockup.jpg">
            </a>
            <a class="grayscale" href="#">
                <span class="text">
                    <h1>MAQUETTE</h1>
                </span>
                <img src="/build/img/john_mockup.jpg">
            </a>
        </div>

    </section>
</main>
{% endblock %}

{% block scripts %}
 {{ encore_entry_script_tags('projectjs') }}
{% endblock %}
